[Unit]
Description=Servicio de Redirección de Logs LSDAP (getcr)
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/usr/local/share/lsdap/services/getcr
ExecStart=/usr/local/share/lsdap/services/getcr/getcr.sh
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target